.dropdown{
    position: relative;
    padding: 0.5rem;
    
}
.dropdown-button{
    box-sizing: border-box;
    height: 52px;
    width: 582px;
    color: var(--color-bg);
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
    text-align: left;
    cursor: pointer;
    font-family: --font-family;
    border-radius: 10px;
}
.dropdown-text{
    padding: 0.6rem 2rem;
    display: flex;
    justify-content: space-between;
}
.menu{
    position: absolute;
    list-style-type:none;
    margin: 5px 0;
    padding: 0;
    height: 249px;
    width: 582px;
    

    top: 55px;
}
.menu > li  {

    text-align: left;
    background: #F7F7F7;
    border-radius: 0px 0px 20px 20px;
    border: none;
    font-family: --font-family;
    padding: 0.6rem 2rem;
    font:inherit;
    width: inherit;
    

}
.menu-item > .kasa__footer{
    margin-top: 200px;
}
