.about__collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dropdown-button--about{
    width: 1086px;
}

.menu--about {
    top: 53px;
    height: 87px;
    width: 1083px;
    display: contents;
}
.menuLi{

    height: 87px !important;
    width: 1083px !important;
}
